{% extends 'base.html' %}
{% block title %} About Us {% endblock %}
{% block content %}
 

<div class="page-heading about-heading header-text" style="background-image: url(https://images.unsplash.com/photo-1553013746-fd5454da7078?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>about us</h4>
            <h2>our company</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="best-features about-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Get to know us a bit more</h2>
          </div>
        </div>
        <div class="col-md-4">
          <div class="right-image">
            <img src="images/sustainability.jpg" alt="Sustainability Image">
          </div>
        </div>
        <div class="col-md-6">
          <div class="left-content">
            <h4>What do we do?</h4>
            <p>
              <span style="font-weight:bold; ">Sustainability -</span> We promote practices that ensure long-term ecological balance, advocating for renewable energy, sustainable agriculture, and waste reduction.<br>
              
              <span style="font-weight:bold; ">Nature Conservation:</span> We work tirelessly to preserve natural habitats, protect endangered species, and promote biodiversity through various conservation projects and awareness campaigns.<br>
              
              <span style="font-weight:bold; ">Education -</span> We are passionate about providing access to quality education for all. Our initiatives include offering scholarships, and conducting educational programs to empower the youth and foster a love for learning.<br>
              
              <span style="font-weight:bold; ">Humanity -</span> We believe in the power of compassion and strive to improve the quality of life for underprivileged communities. Our projects include providing access to clean water, healthcare, and disaster relief.<br>
              
              <span style="font-weight:bold; ">Skill Development -</span> We offer training programs that equip individuals with essential skills for employment and entrepreneurship. By fostering vocational skills, we help create opportunities for economic growth and personal development.<br>
              
              At Sneh Foundation, we are driven by our passion for making the world a better place for current and future generations. Join us in our mission to create a sustainable, greener, and more humane world.<br></p>
            <ul class="social-icons">
              <li><a href="https://www.instagram.com/snehfoundationhaldwani/"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="team-members">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3">
          <h5>What we believe in?</h5>
          <p>
          Sneh Foundation is a dedicated charitable NGO committed to creating a sustainable future. Our core focus areas include Sustainability, Nature Conservation, Education, and Humanity, along with Skill Development.</p>
        </div>
      </div>
    </div>
  </div>


{% endblock %}